* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.row::before, .row::after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: 0 15px;
}

div, footer {
    padding: 1px 1px;
}

/* ---------------------RWD---------------------*/

@media (max-width: 767px) {
    .container {
        width: 96%;
        margin: 0 2%;
    }

    header > .container > .nav {
        height: 100%;
    }

    .nav a {
        float: none;
        width: 100%;
        text-align: center;
    }

    .nav > a > img { /* zapytać się dlaczego nie działa .nav img w max-widht skoro bez tego dziala*/
        float: none;
    }

    .nav ul, .nav ul li {
        float: none;
        width: 100%;
    }

    .hero {
        margin-top: 1vh;
    }

    .gallery {
        flex-direction: column;
    }
    .container > .gallery > .col-4 { /*tu też nie działa bez selektora >*/
        width: 100%;
        margin-bottom: 2px;
    }

    .google-map-static >.container > img  {
        margin-top: -2px;
        width: 100%;
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .container {
        width: 96%;
        margin: 0 2%;
    }

    header > .container > .nav {
        height: 100%;
    }

    .nav a {
        text-align: center;
    }

    .nav > a > img {
        float: left;
        padding: 0 2vh;
    }

    .hero {
        margin-top: 1vh;
    }

    .google-map-static >.container > img  {
        width: 100%;
        height: auto;
    }
}

    /* ---------------------HEADER---------------------*/

.nav {
    height: 60px;
    display: inline-block;
    width: 100%;
    background-color: #ffeaa7;
}

.nav ul li a {
    padding: 0 10vh;
    text-transform: uppercase;
    line-height: 60px;
    text-decoration: none;
    color: #000;
}

.nav ul li a:hover {
    background-color: #c8d6e5;
    color: #fff;
}

.nav a {
    float: left;
}

.nav img {
    /*padding: 0 auto;*/
    float: right;
}

.nav ul li {
   float: left;
    list-style: none;
}

.nav ul {
    padding: 0;
    margin: 0;
    float: right
}
/* ---------------------HERO---------------------*/

.container .hero {
    text-transform: uppercase;
    min-height: 40vh;
    max-height: 100vh;
    position: relative;
    background-color: #0984e3;
}

.container .hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

/* ---------------------GALLERY---------------------*/

.gallery {
    display: flex;
    justify-content: space-around;
}

.gallery .col-4 {
    display: flex;
    background-color: #b2bec3;
    justify-content: center;
    width: 33%;
}

.gallery img {
    max-width: 100%;
    height: auto;
}

/* ---------------------FOOTER---------------------*/

footer {
    background-color: #000;
    color: #ffffff;
    text-align: center;
}

/* ---------------------MAP---------------------*/

.google-map-static img {
    width: 100%;
    height: 100%;
}

/* -------------------------GRID -------------------------*/
/* -------------------------columns-------------------------*/
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* --------------------offsets-------------------------*/

.col-offset-1 {
    margin-left: 8.33%;
}

.col-offset-2 {
    margin-left: 16.66%;
}

.col-offset-3 {
    margin-left: 25%;
}

.col-offset-4 {
    margin-left: 33.33%;
}

.col-offset-5 {
    margin-left: 41.66%;
}

.col-offset-6 {
    margin-left: 50%;
}

.col-offset-7 {
    margin-left: 58.33%;
}

.col-offset-8 {
    margin-left: 66.66%;
}

.col-offset-9 {
    margin-left: 75%;
}

.col-offset-10 {
    margin-left: 83.33%;
}

.col-offset-11 {
    margin-left: 91.66%;
}

.col-offset-12 {
    margin-left: 100%;
}