* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row::before, .row::after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: 0 15px;
    border: 3px black solid;
}

div, footer {
    border: 2px solid black;
}


@media (max-width: 1200px){
 .container {
     width: 100%;
 }
}

/* ---------------------HEADER---------------------*/

.nav {
    height: 60px;
    display: inline-block;
    width: 100%;
}

.nav ul li a {
    padding: 0 10vh;
    text-transform: uppercase;
    line-height: 60px;
}

.nav a {
    float: left;
}

.nav img {
    padding: 0 18vh;
    float: right;
}

.nav ul li {
   float: right;
    list-style: none;
}

.nav ul {
    padding: 0;
    margin: 0;
    float: right
}
/* ---------------------HERO---------------------*/

.container .hero {
    text-transform: uppercase;
    min-height: 40vh;
    max-height: 100vh;
    position: relative;
}

.container .hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px black solid;
    margin: 0;
}

/* ---------------------GALLERY---------------------*/

.gallery {
    display: flex;
}

.gallery a {
    display: flex;
    justify-content: center;
}




/* -------------------------GRID -------------------------*/
/* -------------------------columns-------------------------*/
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}bo

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* --------------------offsets-------------------------*/

.col-offset-1 {
    margin-left: 8.33%;
}

.col-offset-2 {
    margin-left: 16.66%;
}

.col-offset-3 {
    margin-left: 25%;
}

.col-offset-4 {
    margin-left: 33.33%;
}

.col-offset-5 {
    margin-left: 41.66%;
}

.col-offset-6 {
    margin-left: 50%;
}

.col-offset-7 {
    margin-left: 58.33%;
}

.col-offset-8 {
    margin-left: 66.66%;
}

.col-offset-9 {
    margin-left: 75%;
}

.col-offset-10 {
    margin-left: 83.33%;
}

.col-offset-11 {
    margin-left: 91.66%;
}

.col-offset-12 {
    margin-left: 100%;
}